#
# rebuild:
# 	make defconfig BR2_DEFCONFIG=support/brosx/configs/brosx_busybox_iso_defconfig
# 
BR2_KERNEL_HEADERS_4_14=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.14.10"
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_HTOP=y
BR2_TARGET_ROOTFS_ISO9660=y
BR2_TARGET_SYSLINUX=y
BR2_PACKAGE_LIBBROSX=y
